*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.topnav {
    overflow: hidden;
    background-image: url("cover.jpg");
    background-size: 100% 100%;
    height: 35rem;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.6rem;
    text-decoration: none;
    font-size: 3rem;
    margin-left: 6rem;
  } 
  .topnav-right {
    float: right;
    margin-right: 5rem;

  }
h1{
    text-align: center;
    padding-top: 15%;
    color:#f2f2f2;
    font-size: 4rem;
}
h3{
    text-align: center;
    padding-right: 15%;
    color:#f2f2f2;
    margin-right: -20rem;
}

.button-four {
    background-color: #547aa5;
    border-radius: 15px;
    height: 4rem;
    width: 4rem;
    align-items: center;
    margin-left: 48%;
    margin-top: 1rem;

  }
 
 .column {
    float: left;
    width: 50%;
    padding: 1rem;
  } 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  img{
    height: 20rem;
    width: 50%;
    margin-left: 8rem;
    margin-top: 2rem;
  }


  .intro{
    color: #547aa5;
    padding-top: 0.5rem;
    padding-right:75%;
    font-size: 4rem;
  }

  .text{
    margin: 2rem;
    font-size: 1.5rem;
  }

  .read{
    margin-left: 5%;
    padding: 1rem;
    border-radius: 1.2rem;
    color:white;
    background-color: #547aa5;
  }

  .columnthirdsec {
    float: left;
    width: 33.33%;
    padding: 1rem;
    
  }
  
  .rowtwo:after {
    content: "";
    display: table;
    clear: both;
  }

.rowtwo{
    margin: 4rem;
}

columnthirdsec,p{
    margin-top: 10%;
    font-size: 2rem;
}

.fa-bus:before {
    margin-left: 5rem;
    color:#547aa5;
}

.fa-motorcycle:before {
    color:#547aa5;
    margin-left: 5rem;
}

.fa-building:before {
    color:#547aa5;
    margin-left: 5rem;
}

.heading{
    color: #547aa5;
    font-size: 2rem;
}

.workdetail{
    text-align: center;
    margin-top: 0.5rem;
    color: blue;
    font-size: 35px;
}

.workinfo{
    text-align: center;
    margin-top: 1rem;
}


.fifthSection{
    background-image: url(jumbotron.jpg);
    overflow: hidden;
    background-size: 100% 100%;
    margin-top: 1rem;
    padding: 1rem;
}

.Contact{
    color: white;
    font-size: 4rem;
    margin-top: 2.5rem;
    margin-left: 20rem;
}

.fifthInfo{
    color:white;
    margin-top: 2rem;
    text-align: center;
    margin-left: -3rem;
}

.column {
    float: left;
    width: 50%;
    padding: 1rem;
    margin-top: 4rem;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .fa-phone:before{
      color:#f2f2f2;
      margin-left: 20rem;
  }

  .fa-envelope:before{
    color:#f2f2f2;
  }

  .phoneno{
    color:#f2f2f2;
    margin-left: 27rem;
    margin-top: -3rem;
  }

  .email{
    color:#f2f2f2;
    margin-left: 12rem;
    margin-top: -3rem;
  }


  .column {
    float: left;
    width: 50%;
    padding: 1rem;
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .fa-map-marker:before{
    margin-left: 20rem;
    color:#f2f2f2;
  }

  
  .submit{
    /* margin-top: 3rem; */
    padding: 1rem;
  }

  .Submitbtn{
    margin-left: 10rem;
    margin-bottom: 15rem;
    padding:1rem;
    border-radius: 20%;
  }


  .CopyRight{
    color:#f2f2f2;
    text-align: center;
    
  }

  @media(max-width:998px){
    html{
      font-size: 55%;
    }
  }

  @media(max-width:768px){
    html{
      font-size: 45%;
    }
  }


  @media(max-width:600px){
    html{
      font-size: 35%;
    }

}

@media(max-width:480px){
  html{
    font-size: 25%;
  }
}  